<form action="#" method="get">
    <input type="number" name="number" placeholder="Введите число" class="form-control">
    <input type="submit" name="submit" class="btn btn-primary" value="Отправить"></input>
    <p>{{result}}</p>
</form>